@import "./mixin";
@import "./media";
@font-face {
  font-family: "AeonikTRIAL-Bold";
  src: url(../fonts/AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: "AeonikTRIAL-Regular";
  src: url(../fonts/AeonikTRIAL-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.33%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
ul {
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "AeonikTRIAL-Bold";
  color: #1d1d1f;
}
button {
  font-family: "AeonikTRIAL-Bold";
}
p,
span,
strong,
b,
a,
li,
input {
  font-family: "AeonikTRIAL-Regular";
  color: #5d5d5d;
}
@include common-button;
// Header Section Start
#header {
  position: fixed;
  position: fixed;
  top: 5%;
  left: 50%;
  width: 86%;
  display: flex;
  transition: top 0.8s;
  height: 6rem;
  background: #fff;
  box-shadow: 0 0px 10px #54545426;
  z-index: 11;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  padding: 0 3rem;
}
// Header Section End

// Banner Section Start
#bannerSection {
  // background: radial-gradient(
  //   at top,
  //   #fff 27%,
  //   #f4f6fa 57%,
  //   rgba(226, 234, 247, 0.65) 100%
  // );
  background-image: url(../images/noisy-gradients.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 9% 0 0;
  .container {
    height: 100%;
  }
  .bannerContentRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .bannerTextWrap {
    padding-bottom: 4rem;
    .mainText {
      font-size: 9.5rem;
      // font-family: "AeonikTRIAL-Bold";
      text-align: center;
      .gradientText {
        position: relative;
        width: -webkit-max-content;
        width: max-content;
        background: #6d24ba;
        background: linear-gradient(
          to right,
          #6d24ba 0%,
          #96e0f3 25%,
          #a2b8f7 32%,
          #a65ff8 49%,
          #5949e0 77%,
          #313ed3 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "AeonikTRIAL-Bold";
      }
    }
    .mainPara {
      width: 43%;
      margin: 0 auto;
      text-align: center;
      @include paraTypo;
    }

    .commBtnWrap {
      display: flex;
      justify-content: center;
    }
  }
  .centerBoxWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .priceTag {
      .priceTagImg {
        position: absolute;
        top: -14%;
        left: 27%;
      }
      .priceAmt {
        position: absolute;
        top: -7.5%;
        left: 29%;
        transform: rotate(25deg);
        font-size: 1.6rem;
        font-family: "AeonikTRIAL-Bold";
        color: #fff;
      }
    }
    .mainLaptop {
      position: relative;
      .overlapText {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 4rem;
        font-family: "AeonikTRIAL-Bold";
        width: 100%;
      }
    }
    .laptopBox {
      margin-top: -0.3rem;
    }
    .absBox {
      background: #fff;
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      padding: 1rem 2rem;
      border-radius: 0.6rem;
      box-shadow: 0 0px 10px #54545426;
      position: absolute;
      width: 30.4rem;
      &.leftbox {
        right: 0;
        top: 0;
      }
      &.rightbox {
        left: 0;
        bottom: 40%;
      }
      .boxTitle {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .title {
          font-size: 1.8rem;
          font-family: "AeonikTRIAL-Bold";
          color: #000;
        }
      }
      p {
        margin-bottom: 0;
        font-size: 1.4rem;
        font-family: "AeonikTRIAL-Regular";
      }
    }
  }
}
.svgLine {
  position: absolute;
  right: 0;
  z-index: 999;
  height: 100%;
  width: 50%;
  top: 25%;
  &.leftArrow {
    left: 0;
    width: 36%;
  }
  .st0 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw1 2s linear forwards;
    animation: draw1 2s linear forwards;
  }
}

// Banner Section
@keyframes draw1 {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// Clients Section Start
#clients {
  @include md-tablet {
    padding: 0rem 0 3rem;
  }
  @include x-767-tablet {
    padding: 0 0 0rem;
  }
  .client-logo-listing {
    background-color: #121010;
    height: 135px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .brands-marquee {
      padding: 25px 0;
    }
    .js-marquee-wrapper {
      display: flex;
      align-items: center;
      height: 100%;
      animation: 140s linear 0s infinite normal none running
        marqueeAnimation-3709221;
      margin-left: 0px;
      width: 18395px;
      transform: translateX(0px);
      &:hover {
        animation: 140s linear 0s infinite normal none paused
          marqueeAnimation-3709221 !important;
      }
    }
    ul {
      display: flex;
      align-items: center;
      height: 100%;
      li {
        padding: 0px 50px;
        display: block;
      }
    }
  }
}
.svg-sprite {
  background-image: url(../images/css_sprites-02-08-2023.png);
  background-repeat: no-repeat;
  display: block;
  height: 100px;
  &.logo-brand-black-oracle {
    background-position: 0px 0px;
    width: 170px;
  }

  &.logo-brand-black-mtn {
    background-position: -780px 0px;
    width: 205px;
  }
  &.logo-brand-black-sanchobbdo {
    background-position: -1355px 0px;
    width: 190px;
  }

  &.logo-brand-black-gulfstream {
    background-position: -162rem 0px;
    width: 260px;
  }

  &.logo-brand-black-daman {
    background-position: -1955px 0px;
    width: 250px;
  }

  &.logo-brand-black-astrazeneca {
    background-position: -2280px 0px;
    width: 290px;
  }

  &.logo-brand-black-vfsglobal {
    background-position: -2645px 0px;
    width: 205px;
  }

  &.logo-brand-black-haas {
    background-position: -2935px 0px;
    width: 200px;
  }

  &.logo-brand-black-tata {
    background-position: -3225px 0px;
    width: 175px;
  }

  &.logo-brand-black-yahoo {
    background-position: -3490px 0px;
    width: 170px;
  }

  &.logo-brand-black-smithfield {
    background-position: -3745px 0px;
    width: 100px;
  }

  &.logo-brand-black-best-buy {
    background-position: -392rem 0px;
    width: 80px;
  }

  &.logo-brand-black-essilor {
    background-position: -4085px 0px;
    width: 175px;
  }

  &.logo-brand-black-cosmopolitan {
    background-position: -4340px 0px;
    width: 110px;
  }

  &.logo-brand-black-abbott {
    background-position: -4535px 0px;
    width: 170px;
  }

  &.logo-brand-black-unsw {
    background-position: 0px -85px;
    width: 175px;
  }

  &.logo-brand-black-lifetechnologies {
    background-position: -22rem -85px;
    width: 70px;
  }

  &.logo-brand-black-jacksoncoker {
    background-position: -385px -95px;
    width: 115px;
  }

  &.logo-brand-black-mcdonalds {
    background-position: -595px -85px;
    width: 200px;
  }

  &.logo-brand-black-vodafone {
    background-position: -885px -85px;
    width: 65px;
  }

  &.logo-brand-black-adidas {
    background-position: -1045px -85px;
    width: 185px;
  }

  &.logo-brand-black-ndtv {
    background-position: -132rem -85px;
    width: 150px;
  }

  &.logo-brand-black-kotak {
    background-position: -1560px -75px;
    width: 240px;
  }

  &.logo-brand-black-macys {
    background-position: -1890px -80px;
    width: 115px;
  }

  &.logo-brand-black-cartier {
    background-position: -2100px -85px;
    width: 185px;
  }
  &.svg-sprite.logo-cambridge-v3 {
    background-position: -260px 0;
    width: 160px;
  }
  &.abdul-latif-jameel-logo {
    background-position: -515px 0;
    width: 180px;
  }
  &.abdul-latif-jameel-logo-001 {
    background-position: -1077px 0;
    width: 200px;
  }
  &.logo-brand-black-Logo1 {
    background-position: -2365px -85px;
    width: 80px;
  }
  &.logo-brand-black-Logo2 {
    background-position: -2535px -85px;
    width: 110px;
  }
  &.logo-brand-black-Logo3 {
    background-position: -2730px -85px;
    width: 125px;
  }
  &.logo-brand-black-Logo4 {
    background-position: -2940px -90px;
    width: 165px;
  }
  &.logo-brand-black-Logo5 {
    background-position: -3190px -90px;
    width: 135px;
  }
  &.logo-brand-black-Logo6 {
    background-position: -342rem -90px;
    width: 225px;
  }
  &.logo-brand-black-Logo7 {
    background-position: -3730px -95px;
    width: 190px;
  }
  &.logo-brand-black-Logo8 {
    background-position: -402rem -95px;
    width: 110px;
  }
  &.logo-brand-black-Logo9 {
    background-position: -4230px -95px;
    width: 180px;
  }
  &.logo-brand-black-Logo10 {
    background-position: -4510px -90px;
    width: 215px;
  }
  &.logo-brand-black-Logo11 {
    background-position: -0px -185px;
    width: 200px;
  }
  &.logo-brand-black-Logo12 {
    background-position: -295px -185px;
    width: 200px;
  }
  &.logo-brand-black-Logo13 {
    background-position: -555px -170px;
    width: 135px;
  }
  &.logo-brand-black-Logo14 {
    background-position: -765px -170px;
    width: 225px;
  }
  &.logo-brand-black-Logo15 {
    background-position: -1075px -175px;
    width: 185px;
  }
  &.logo-brand-black-Logo16 {
    background-position: -1335px -175px;
    width: 165px;
  }
  &.logo-brand-black-Logo17 {
    background-position: -1575px -175px;
    width: 260px;
  }
  &.logo-brand-black-Logo18 {
    background-position: -1910px -175px;
    width: 245px;
  }
  &.logo-brand-black-Logo19 {
    background-position: -2215px -175px;
    width: 22rem;
  }
  &.logo-brand-black-Logo20 {
    background-position: -2510px -175px;
    width: 110px;
  }
  &.logo-brand-black-Logo21 {
    background-position: -2700px -175px;
    width: 70px;
  }
  &.logo-brand-black-Logo22 {
    background-position: -2860px -175px;
    width: 150px;
  }
  &.logo-brand-black-Logo23 {
    background-position: -3070px -175px;
    width: 255px;
  }
  &.logo-brand-black-Logo24 {
    background-position: -3400px -175px;
    width: 90px;
  }
  &.logo-brand-black-Logo25 {
    background-position: -3580px -175px;
    width: 75px;
  }
  &.logo-brand-black-Logo26 {
    background-position: -3735px -175px;
    width: 245px;
  }
  &.logo-brand-black-Logo27 {
    background-position: -4065px -175px;
    width: 265px;
  }
  &.logo-brand-black-Logo28 {
    background-position: -4390px -175px;
    width: 290px;
  }
  &.logo-brand-black-Logo29 {
    background-position: 0px -265px;
    width: 250px;
  }
  &.logo-brand-black-Logo30 {
    background-position: -325px -265px;
    width: 235px;
  }
  &.logo-brand-black-Logo31 {
    background-position: -630px -265px;
    width: 145px;
  }
  &.logo-brand-black-Logo32 {
    background-position: -855px -265px;
    width: 150px;
  }
  &.logo-brand-black-Logo33 {
    background-position: -1075px -265px;
    width: 170px;
  }
  &.logo-brand-black-Logo34 {
    background-position: -132rem -265px;
    width: 140px;
  }
  &.logo-brand-black-Logo35 {
    background-position: -1540px -265px;
    width: 130px;
  }
  &.logo-brand-black-Logo36 {
    background-position: -1750px -265px;
    width: 225px;
  }
  &.logo-brand-black-Logo37 {
    background-position: -2035px -265px;
    width: 180px;
  }
  &.logo-brand-black-Logo38 {
    background-position: -2295px -265px;
    width: 200px;
  }
  &.logo-brand-black-Logo39 {
    background-position: -2580px -265px;
    width: 75px;
  }
  &.logo-brand-black-Logo40 {
    background-position: -2750px -265px;
    width: 80px;
  }
  &.logo-brand-black-Logo41 {
    background-position: -2900px -265px;
    width: 135px;
  }
  &.logo-brand-black-Logo42 {
    background-position: -312rem -265px;
    width: 180px;
  }
  &.logo-brand-black-Logo43 {
    background-position: -3370px -265px;
    width: 265px;
  }
  &.logo-brand-black-Logo44 {
    background-position: -3705px -265px;
    width: 150px;
  }
  &.logo-brand-black-Logo45 {
    background-position: -3935px -265px;
    width: 125px;
  }
}
@keyframes marqueeAnimation-3709221 {
  100% {
    transform: translateX(-100%);
  }
}
// Clients Section End

// Product Feature Section Start
#productFeature {
  padding: 10rem 0;
  .leftBox {
    h2 {
      @include mainTitle;
      margin-bottom: 1rem;
    }
    p {
      @include paraTypo;
      margin-bottom: 0;
    }
  }
  .slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-image-container {
      position: relative;
      width: 50rem;
      height: 30rem;
      text-align: center;
      .main-image {
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in-out;
        object-fit: cover;
      }
      .color-container {
        position: absolute;
        right: -7.5rem;
        top: 0;
        display: flex;

        .color-black {
          background-color: #2f2f2f;
          height: 2rem;
          width: 2rem;
          margin: 0.5rem;
          cursor: pointer;
          &:hover {
            background-color: #000;
          }
        }
        .color-gray {
          background-color: rgb(148, 148, 148);
          height: 2rem;
          width: 2rem;
          margin: 0.5rem;
          cursor: pointer;
          &:hover {
            background-color: rgb(128, 128, 128);
          }
        }
      }
    }

    .thumbnail-container {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      gap: 2rem;
      flex-wrap: wrap;
      width: 50rem;
      padding: 1rem;
      border: 0.1rem solid #dddddd;
      border-radius: 0.3rem;
      .thumbNailBox {
        width: 8rem;
        height: 8rem;
        margin: 0 0.5rem;
        cursor: pointer;
      }
      .thumbnail {
        transition: opacity 0.3s;
        width: 100%;
        height: 100%;
        object-fit: cover;
        &.active {
          opacity: 0.5;
          & ~ .main-image {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}
// Product Feature Section End

// Solaris Book Grid Section Start
#solarisGridSection {
  padding: 10rem 0;
  background-image: url(../images/gide-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  .gridWrap {
    margin-bottom: 4rem;
    h2 {
      @include mainTitle;
      margin-bottom: 1rem;
      text-align: center;
      color: #fff;
    }
    p {
      @include paraTypo;
      margin-bottom: 0;
      text-align: center;
      color: #d9d9d9;
      width: 45%;
      margin: 0 auto;
    }
  }
  .bookGrid {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    .grid {
      height: 100%;
      width: 100%;
      border-radius: 0.8rem;
      overflow: hidden;
      position: relative;
      .floatBox {
        position: absolute;
        .roundBox {
          background-color: #fff;
          width: 18rem;
          height: 4.5rem;
          border-radius: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
          span {
            font-family: "AeonikTRIAL-Bold";
            font-size: 1.8rem;
            color: #313234;
          }
        }
        p {
          font-family: "AeonikTRIAL-Regular";
          font-size: 1.4rem;
          color: #fff;
        }
        &.float1 {
          width: 60%;
          left: 5%;
          bottom: 10%;
        }
        &.float2 {
          width: 40%;
          right: 5%;
          bottom: 10%;
          display: flex;
          flex-direction: column;
          .roundBox {
            width: 25rem;
          }
        }
      }
      .flotTitle {
        position: absolute;
        span {
          font-family: "AeonikTRIAL-Bold";
          font-size: 3rem;
          color: #313234;
        }

        &.title1 {
          top: 10%;
          left: 5%;
        }
        &.title2 {
          right: 5%;
          top: 25%;
        }
        &.title3 {
          left: 5%;
          top: 40%;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .btmBox {
      position: absolute;
      .lightTxt {
        font-family: "AeonikTRIAL-Bold";
        color: #b3b3b3;
        font-size: 1.8rem;
        margin-bottom: 0;
      }
      .darkTxt {
        font-family: "AeonikTRIAL-Bold";
        color: #313234;
        font-size: 1.8rem;
        margin-bottom: 0;
      }
      &.boxed1 {
        bottom: 5%;
        left: 5%;
      }
      &.boxed2 {
        bottom: 5%;
        right: 5%;
      }
      &.boxed3 {
        top: 5%;
        right: 5%;
      }
    }
    .grid1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .grid2 {
      grid-area: 1 / 2 / 2 / 4;
    }
    .grid3 {
      grid-area: 2 / 1 / 3 / 2;
      .svgLine {
        height: auto;
        width: 70%;
        top: 53%;
        stroke-width: 0.3rem;
        left: 20%;
      }
    }
    .grid4 {
      grid-area: 2 / 2 / 3 / 3;
      .svgLine {
        height: auto;
        top: 55%;
        width: 85%;
        left: 15%;
        stroke-width: 0.3rem;
      }
    }
    .grid5 {
      grid-area: 2 / 3 / 3 / 4;
      .svgLine {
        height: auto;
        top: 54%;
        width: 100%;
        left: -4%;
        stroke-width: 0.3rem;
      }
    }
  }
}
// Solaris Book Grid Section End

// Feature Slider Section Start
#featureSliderSection {
  padding: 10rem 0;
  .sectionTitleWrap {
    h2 {
      @include mainTitle;
      margin-bottom: 1rem;
      text-align: center;
    }
    p {
      @include paraTypo;
      margin-bottom: 0;
      text-align: center;
      width: 45%;
      margin: 0 auto;
    }
  }
  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    flex: 1 0 100%;
    min-width: 100%;
  }

  .dots {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
  }

  .dot {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #c5c6d9;
    border: 0.1rem solid #a9a9a9;

    cursor: pointer;
  }

  .dot.active {
    background-color: #2d4cc3;
    box-shadow: 0px 0.4rem 0.8rem -0.2rem #202020;
    border: 0;
  }
  .parent {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    padding-top: 8rem;
    padding-bottom: 3rem;
  }
  .box {
    height: 20rem;
    width: 100%;
    .contentWrap {
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: 5rem;
        background-color: #d0d3f7;
        margin-bottom: 0.5rem;
      }
      h6 {
        font-size: 2rem;
      }
      p {
        @include paraTypo;
      }
    }
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 0 0 auto;
    .contentWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        text-align: right;
      }
    }
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0 0 0 auto;
    .contentWrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        text-align: right;
      }
    }
  }
  .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div5 {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    position: relative;
    .spinner {
      animation: rotate 11s linear infinite;
      -webkit-animation: rotate 11s linear infinite;
      -moz-animation: rotate 11s linear infinite;
      position: relative;
    }
    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes rotate {
      to {
        -webkit-transform: rotate(360deg);
      }
    }

    @-moz-keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }
    .midImagWrap {
      width: 45rem;
      height: 45rem;
      position: absolute;
      top: 24%;
      left: 1%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Feature Slider Section End

// Window Pro 11 Section Start
#windowProSection {
  padding: 10rem 0;
  background-color: #f9f9f9;
  .custRow {
    justify-content: flex-end;
    position: relative;
    &::before {
      content: "";
      background-image: url(../images/windows-laptop.png);
      background-repeat: no-repeat;
      background-size: 60% 100%;
      background-position: left;
      width: 145rem;
      height: 75rem;
      position: absolute;
      left: -150px;
      top: -25%;
    }
    .winProTitleWrap {
      h2 {
        @include mainTitle;
        margin-bottom: 1rem;
      }
      p {
        @include paraTypo;
        margin-bottom: 0;
      }
    }
    .winProList {
      margin-top: 3rem;
      ul {
        padding-left: 0;
        &.secondList {
          padding-left: 4rem;
        }
        li {
          margin-bottom: 4rem;
          &:last-child {
            margin-bottom: 0;
          }
          h5 {
            font-size: 2.6rem;
            margin-bottom: 0.2rem;
          }
          p {
            @include paraTypo;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
// Window Pro 11 Section End

// Solaris Benefits Section Start
#solarisBenefits {
  padding: 10rem 0 6rem;
  background-color: #f2f2ff;
  .sectionTitleBox {
    h2 {
      @include mainTitle;
      margin-bottom: 1rem;
    }
    p {
      @include paraTypo;
      margin-bottom: 0;
      width: 80%;
    }
  }
  .leftImgWrap {
    position: relative;
    .svgLine {
      position: absolute;
      right: 31.5%;
      width: 29%;
      top: 50%;
      stroke-width: 0.4rem;
    }
    .topImgContentWrap {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      top: 8%;
      padding: 0 3rem;
      h6 {
        font-size: 2rem;
        line-height: 1.4;
      }
      .leftBoxOverlay {
        height: 8rem;
        width: 50%;
        background-color: #205cdc;
        padding: 1rem;
        border-radius: 0.4rem;
        span {
          font-size: 1.4rem;
          color: #fff;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .leftBtmImg {
    position: relative;
    .overLay {
      position: absolute;
      &.overlayText1 {
        top: 12%;
        left: 8%;
        width: 70%;
      }
      &.overlayText2 {
        top: 5%;
        left: 5%;
        width: 60%;
      }
      h6 {
        font-size: 2rem;
        line-height: 1.4;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
// Solaris Benefits Section End

// Prgressive Slider Section Start
#purePerformanceSection {
  padding: 10rem 0;
  position: relative;
  background-color: #fff;
  .progress-slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    .slide-container {
      display: flex;
      transition: transform 0.5s ease;
      height: 100%;
      .slide {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
      }
    }
    
  }
  .progress-btns {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: space-evenly;
    align-items: center;
    .slide-button {
      width: 20%;
      button {
        color: white;
        border: none;
        background-color: transparent;
        padding: 10px;
        margin: 10px;
        margin-bottom: 0;
        font-size: 18px;
        cursor: pointer;
      }
      .progress-bar {
        height: 1rem;
        background-color: red;
        margin: 0 10px;
        width: 100%;
        border-radius: 5rem;
        cursor: pointer;
        .progress {
          height: 100%;
          background-color: white;
        }
      }
    }
  }
}
// Prgressive Slider Section End

.h100 {
  height: 100vh;
  &:nth-child(even) {
    background-color: red;
  }
}
