#staticBackdrop .modal-dialog .modal-content .btn-close {
  opacity: 1;
  width: 2rem;
  height: 2rem;
  background-size: 1.8rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}
#staticBackdrop .modal-dialog .modal-content .btn-close:focus {
  outline: none;
  box-shadow: none;
}
#staticBackdrop .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox {
  background: #f7f7f7;
  height: 100%;
  padding-bottom: 3rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .slick-slider .slick-list .slick-track .slick-slide .mainImg {
  height: 40rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .slick-slider .slick-list .slick-track .slick-slide .mainImg img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-arrow {
  z-index: 2;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-arrow.slick-prev {
  left: 10%;
  width: 3.2rem;
  height: 3.2rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-arrow.slick-prev:before {
  font-size: 3.2rem;
  color: #0047ff;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-arrow.slick-next {
  right: 10%;
  width: 3.2rem;
  height: 3.2rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-arrow.slick-next:before {
  font-size: 3.2rem;
  color: #0047ff;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-list .slick-track {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-list .slick-track .slick-slide {
  width: 115px !important;
  height: 8rem;
  overflow: hidden;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-list .slick-track .slick-slide.slick-current {
  border: 0.1rem solid #1e2785;
  border-radius: 0.4rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-list .slick-track .slick-slide.slick-current .thumbNailsBox {
  border: 0;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-list .slick-track .slick-slide .thumbNailsBox {
  width: 100%;
  overflow: hidden;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .leftBox .thumbnailWrap .slick-slider .slick-list .slick-track .slick-slide .thumbNailsBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox {
  height: 100%;
  padding: 5rem 0rem 0px 1.5rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .rightBoxxxx .bckBtn {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  line-height: 0;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .rightBoxxxx .bckBtn span {
  transform: rotate(180deg);
  display: block;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .rightBoxxxx form .form-label {
  color: #313234;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .rightBoxxxx form .form-control {
  height: 4rem;
  width: 96%;
  font-size: 1.6rem;
  border-color: #2d4cc3;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .rightBoxxxx form .form-control:focus {
  outline: none;
  box-shadow: none;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .mainProductName {
  font-size: 2.6rem;
  margin-bottom: 0;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .mainProductDescription {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  width: 80%;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .mainProductPricing {
  font-size: 3.2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 3rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .mainProductPricing del {
  font-size: 2.4rem;
  color: #9d9d9d;
  font-weight: 400;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .selectionBox {
  display: flex;
  flex-wrap: wrap;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .commBtnWrap button {
  width: 96%;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .selectCourseBox {
  margin-bottom: 2rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .selectCourseBox h5 {
  color: #313234;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .selectCourseBox .form-select {
  font-size: 1.6rem;
  width: 90%;
  border-color: #2d4cc3;
  height: 4rem;
  cursor: pointer;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .selectCourseBox .form-select:focus {
  outline: none;
  box-shadow: none;
  border-color: #c6c6c7;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .colorsWrap h5 {
  color: #313234;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .colorsWrap .form-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .colorsWrap .form-check .form-check-label {
  font-size: 1.6rem;
  cursor: pointer;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .colorsWrap .form-check .form-check-input {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .colorsWrap .form-check .form-check-input:focus {
  border-color: transparent;
  outline: none;
  box-shadow: none;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .colorsWrap .form-check .form-check-input.black:checked {
  background-color: #161616;
  border-color: #161616;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .colorsWrap .form-check .form-check-input.gray:checked {
  background-color: gray;
  border-color: gray;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .colorsWrap .colorWrapBox {
  display: flex;
  margin-bottom: 2rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .quantityWrapBox {
  margin-bottom: 2rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .quantityWrapBox h5 {
  color: #313234;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .quantityWrapBox .input-group {
  width: 80%;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .quantityWrapBox .input-group .form-control {
  color: #313234;
  font-size: 1.6rem;
  border-color: #2d4cc3;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .quantityWrapBox .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}
#staticBackdrop .modal-dialog .modal-content .modal-body .productDetailsWrap .rightBox .multi-step-form .step-content .quantityWrapBox .input-group .btn {
  width: 3.5rem;
  height: 4rem;
  font-size: 2rem;
  line-height: 0;
  background-color: #2d4cc3;
  color: #fff;
}/*# sourceMappingURL=modal.css.map */