@import "../../assets/scss/media";
@import "../../assets/scss/mixin";
#staticBackdrop {
  @include scrollBar;
  .modal-dialog {
    // height: 70rem;

    @include min-576-width {
      max-width: 1080px;
    }
    .modal-content {
      // height: 70rem;
      max-height: none;
      .btn-close {
        opacity: 1;
        width: 2rem;
        height: 2rem;
        background-size: 1.8rem;
        position: absolute;
        right: 3rem;
        top: 2rem;
        z-index: 1;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      .modal-body {
        padding: 0;
        @include scrollBar;
        .productDetailsWrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          height: 66rem;
          overflow: auto;
          @include scrollBar;
          position: relative;
          .leftBox {
            background: #f7f7f7;
            padding: 3rem 3rem 0rem 1.5rem;
            position: sticky;
            left: 0;
            top: 0;
            height: auto;
            @include productSliderWrap;
            .color-container {
              display: none;
            }
            .slider-container {
              .main-image-container {
                height: 50rem;
              }
            }
            .subWrap {
              background: #2d4cc3;
              padding: 2rem;
              border-radius: 0.5rem;
              h5 {
                color: #fff;
                font-size: 2.2rem;
                margin-bottom: 1rem;
                
              }
              .mainProductDescription {
                font-size: 1.6rem;
                margin-bottom: 2rem;
                color: #fff;
              }
              @include cousrsesImagesWrap;
              @include checkedBox;
              .form-check {
                .form-check-label {
                  font-size: 1.6rem;
                  color: #fff;
                }
              }
            }
          }
          .rightBox {
            height: 100%;
            padding: 5rem 3rem 0rem 1.5rem;
            .multi-step-form {
              .step-content {
                .rightBoxxxx {
                  .bckBtn {
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                    margin-bottom: 4rem;
                    font-size: 1.8rem;
                    font-weight: 500;
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    line-height: 0;
                    span {
                      transform: rotate(180deg);
                      display: block;
                    }
                  }
                  form {
                    .form-label {
                      color: #313234;
                      font-size: 1.6rem;
                      margin-bottom: 0.5rem;
                      font-weight: 600;
                    }
                    .form-control,
                    .form-select {
                      height: 4rem;
                      width: 96%;
                      font-size: 1.6rem;
                      border-color: #2d4cc3;
                      &:focus {
                        outline: none;
                        box-shadow: none;
                      }
                    }
                    .form-select {
                      cursor: pointer;
                    }
                  }
                }
                .mainProductName {
                  font-size: 2.6rem;
                  margin-bottom: 1rem;
                }
                .mainProductDescription {
                  @include paraTypo;
                  margin-bottom: 0.5rem;
                }
                .mainProductPricing {
                  font-size: 3.8rem;
                  font-weight: 700;
                  color: #333;
                  margin: 1rem 0 2rem;
                  del {
                    font-size: 2.4rem;
                    color: #9d9d9d;
                    font-weight: 400;
                  }
                }
                .selectionBox {
                  display: flex;
                  flex-wrap: wrap;
                  //   gap: 3rem;
                }
                .subWrap {
                  h5 {
                    color: #313234;
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                    span{
                      color: red;
                    }
                  }
                  @include checkedBox;
                }

                .commBtnWrap {
                  width: 100%;
                  position: sticky;
                  bottom: 1%;
                  left: 0;
                  button {
                    width: 100%;
                  }
                }
                .selectCourseBox {
                  margin-bottom: 2rem;
                  h5 {
                    color: #313234;
                    font-size: 1.8rem;
                    margin-bottom: 0.5rem;
                  }
                  .form-select {
                    font-size: 1.6rem;
                    width: 90%;
                    border-color: #2d4cc3;
                    height: 4rem;
                    cursor: pointer;
                    &:focus {
                      outline: none;
                      box-shadow: none;
                      border-color: #c6c6c7;
                    }
                  }
                }
                .colorsWrap {
                  h5 {
                    color: #313234;
                    font-size: 1.8rem;
                    margin-bottom: 0.5rem;
                  }
                  .form-check {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    .form-check-label {
                      font-size: 1.6rem;
                      cursor: pointer;
                    }
                    .form-check-input {
                      width: 2.5rem;
                      height: 2.5rem;
                      cursor: pointer;
                      //   border-color: #2d4cc3;
                      &:focus {
                        border-color: transparent;
                        outline: none;
                        box-shadow: none;
                      }
                      &.black {
                        &:checked {
                          background-color: #161616;
                          border-color: #161616;
                        }
                      }
                      &.gray {
                        &:checked {
                          background-color: gray;
                          border-color: gray;
                        }
                      }
                    }
                  }
                  .colorWrapBox {
                    display: flex;
                    margin-bottom: 2rem;
                  }
                }
                .quantityWrapBox {
                  margin-bottom: 2rem;
                  h5 {
                    color: #313234;
                    font-size: 1.8rem;
                    margin-bottom: 0.8rem;
                  }
                  .input-group {
                    width: 70%;
                    .form-control {
                      color: #313234;
                      font-size: 1.6rem;
                      border-color: #2d4cc3;
                      &:focus {
                        outline: none;
                        box-shadow: none;
                      }
                    }
                    .btn {
                      width: 3.5rem;
                      height: 4rem;
                      font-size: 2rem;
                      line-height: 0;
                      background-color: #2d4cc3;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
